.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* border: 1px solid red; */
}
.logo {
  width: 10rem;
  height: 3rem;
  /* border: 1px solid red; */
}
.headermenu {
  list-style: none;
  display: flex;
  /* align-items: center; */
  font-size: 1.2rem;
  gap: 4rem;
  color: white;
  /* border: 1px solid red; */
}
.headermenu > li:hover {
    color: var(--orange);
  cursor: pointer;
}
